@keyframes dropFade {
  0% {
    top: -10vh;
    opacity: 0;
  }
  100% {
    top: 0vh;
    opacity: 1;
  }
}
@keyframes htmlAnimation {
  0% {
    color: white;
  }
  100% {
    color: tomato;
  }
}
@keyframes cssAnimation {
  0% {
    color: white;
  }
  100% {
    color: dodgerblue;
  }
}
@keyframes jsAnimation {
  0% {
    color: white;
  }
  100% {
    color: orange;
  }
}
@keyframes focusAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes dangerAnimation {
  0% {
    transform: rotate(5deg);
  }
  25% {
    transform: rotate(-5deg);
  }
  50% {
    transform: roatate(0deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
