$blue: rgba(11, 179, 221, 1);
$green: rgb(82, 167, 82);
$frost: rgba(210, 222, 230, 0.15);
$frost-dark: rgba(146, 153, 158, 0.4);

.button {
  color: white;
  border-radius: 0.7vh;
  background-color: $frost-dark;
}

.button:focus {
  // animation: focusAnimation forwards 0.5s ease-in-out;
  outline-style: none;
}

.button--state-success {
  color: white;
  padding: 1em;
  background-color: $green;
}

.button--state-danger {
  color: white;
  background-color: rgb(218, 115, 115);
}

.button--state-danger:focus {
  animation: dangerAnimation forwards 0.1s ease-in-out;
}

@keyframes focusAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes dangerAnimation {
  0% {
    transform: rotate(5deg);
  }
  25% {
    transform: rotate(-5deg);
  }
  50% {
    transform: roatate(0deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

//Modules added are above
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  background-color: black;
  // overflow: hidden;
}

// This code below stops the highlighting effect that happens on touch screens when
// the elements listed are pressed.  This makes the experience more pleasant.
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
