$blue: #0bb3dd;
$keppel: #2fad98;
$green: #52a752;
$gunmetal: #032f3a;
$frost: rgba(210, 222, 230, 0.15);
$frost-dark: rgba(146, 153, 158, 0.4);
$dark-gray: #4d4d4d;
$agreeable-gray: #524f4b;

.gradient-radial {
  background: repeating-radial-gradient(circle at 0 0, $blue, $green 500px);
}

.gunmetal {
  background: $gunmetal;
}
.blue {
  background: $blue;
}

.keppel {
  background: $keppel;
}

.button {
  color: white;
  border-radius: 0.7vh;
}

.button:focus {
  // animation: focusAnimation forwards 0.5s ease-in-out;
  outline-style: none;
}

.button--state-success {
  color: white;
  padding: 1em;
  background-color: $green;
}

.button--state-danger {
  color: white;
  background-color: rgb(218, 115, 115);
}

.button--state-danger:focus {
  animation: dangerAnimation forwards 0.1s ease-in-out;
}

@keyframes focusAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes dangerAnimation {
  0% {
    transform: rotate(5deg);
  }
  25% {
    transform: rotate(-5deg);
  }
  50% {
    transform: roatate(0deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

//Modules added are above
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  background-color: $agreeable-gray;
  // overflow: hidden;
}
section {
  position: relative;
}
.wave-gunmetal-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave-gunmetal-top svg {
  position: relative;
  display: block;
  width: calc(138% + 1.3px);
  height: 151px;
}

.wave-gunmetal-top .shape-fill {
  fill: #032f3a;
}

.wave-gunmetal-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.wave-gunmetal-bottom svg {
  position: relative;
  display: block;
  width: calc(138% + 1.3px);
  height: 151px;
}

.wave-gunmetal-bottom .shape-fill {
  fill: $blue;
}

.wave-blue-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave-blue-top svg {
  position: relative;
  display: block;
  width: calc(123% + 1.3px);
  height: 88px;
}

.wave-blue-top .shape-fill {
  fill: #0bb3dd;
}
// This code below stops the highlighting effect that happens on touch screens when
// the elements listed are pressed.  This makes the experience more pleasant.
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
