footer {
  width: 100%;
  height: 10vh;
  display: flex;
  flex-flow: row nowrap;
  align-content: center;
  margin-bottom: 15vh;

  .footer--icon {
    margin: auto;
    font-size: 2rem;
    a {
      color: #6e5494;
      font-size: 4rem;
      margin-top: -1.4px;
      text-decoration: none;
    }
  }
}
