header {
  width: 100%;
  height: 10vh;
  display: flex;
  z-index: 5000;
  position: fixed;
  bottom: 0;
  flex-flow: wrap;
  flex-direction: row;
  background-image: linear-gradient(
    to right,
    rgb(11, 179, 221),
    rgb(82, 167, 82)
  );
  padding-top: 5px;
  border-top-left-radius: 10%;

  // div {
  //   width: 15%;
  //   height: 10vh;

  //   .hamburger {
  //     width: 100%;
  //     height: 10vh;
  //     display: flex;
  //     padding-right: 1vh;
  //     justify-content: center;

  //     .hamburger--bar {
  //       top: 2vh;
  //       width: 100%;
  //       height: 5%;
  //       position: relative;
  //       transition: all 0.4s ease;
  //       background-color: black;

  //       &:after {
  //         top: 2vh;
  //         width: 100%;
  //         height: 100%;
  //         content: "";
  //         position: absolute;
  //         transition: all 0.8s ease;
  //         background-color: inherit;
  //       }
  //       &:before {
  //         top: 4vh;
  //         width: 100%;
  //         height: 100%;
  //         content: "";
  //         position: absolute;
  //         transition: all 0.4s ease;
  //         background-color: inherit;
  //       }
  //     }
  //   }
  // }

  .logo {
    width: 15%;
    height: 100%;
    text-decoration: none;
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 1rem;

    a {
      text-align: center;
    }
  }

  .menu {
    width: 100%;
    height: 100%;
    position: relative;

    ul {
      border-top-left-radius: 35%;
      border-top-right-radius: 10%;
      font-size: 2rem;
      display: flex;
      text-align: center;
      align-content: center;
      align-items: center;
      flex-direction: row;
      justify-content: space-around;
      width: 100%;
      height: 100%;
      font-weight: bolder;
      list-style-type: none;
      background-color: linear-gradient(
        to right,
        rgb(11, 179, 221),
        rgb(82, 167, 82)
      );
      background-size: 100px 50px;

      li {
        display: inline;

        a {
          color: white;
          position: relative;
          text-decoration: none;
          font-size: 1rem;
          z-index: 1;
          &::before {
            // & is sass functionality that means "this"
            // here it means a::before
            //This is for the underline bars that pop up when link is hovered
            left: -1vw;
            position: absolute;
            width: 100%;
            top: 0;
            height: 100%;
            content: "";
            transform: scaleX(0);
            transition: all 0.3s ease-in-out;
            padding: 5px;
            z-index: -1;
          }
          &:hover:before {
            transform: scaleX(1);
          }
        }
      }
    }
  }

  .toggler {
    left: 83%;
    width: 10vh;
    height: 10vh;
    z-index: 2;
    opacity: 0;
    position: absolute;
  }

  .toggler:checked ~ div div .menu {
    left: 0;
  }

  .toggler:checked ~ div .hamburger .hamburger--bar {
    top: 4vh;
    transform: rotate(-135deg);
  }

  .toggler:checked ~ div .hamburger .hamburger--bar::after {
    top: 0vh;
    left: 0vh;
    opacity: 0;
    transform: rotate(-5deg);
  }
  .toggler:checked ~ div .hamburger .hamburger--bar::before {
    top: 0vh;
    left: 0vh;
    transform: rotate(90deg);
  }
}
