.home {
  height: 100vh;

  .home--pic-bubble {
    overflow: hidden;
    padding: 2%;
    position: absolute;
    left: 0%;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    // border: 0.25em solid $frost-dark;
    background-image: linear-gradient(
      to right,
      rgb(11, 179, 221),
      rgb(96, 161, 96)
    );
    opacity: 0.3;
    z-index: 0;
  }
  .home--content {
    color: rgb(199, 198, 198);
    height: 100vh;
    min-height: 700px;
    display: flex;
    text-align: center;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // background-color: rgba(0, 0, 0, 0.5);

    .home--pic-container {
      display: flex;
      flex-flow: row;
      justify-content: center;
      align-items: center;
      background-image: linear-gradient(
        to right,
        rgb(11, 179, 221),
        rgb(82, 167, 82)
      );
      border-radius: 50%;
      width: 10rem;
      height: 10rem;
      img {
        padding: 2%;
        width: 100%;
        height: 100%;
        z-index: 1000;
        border-radius: 50%;
        border: 0.25em solid $frost-dark;
      }
    }
    .home--content-text {
      width: 100vw;
      margin-bottom: 5vh;

      h1 {
        font-size: 2.5rem;
        z-index: 5000;
      }
    }
    p {
      z-index: 1000;
      font-size: 1rem;
    }

    .home--buttons-container {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-content: center;
      margin-top: 5vh;
      z-index: 1000;

      .button--home {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-content: center;
        align-items: center;
        text-align: center;
        background-image: linear-gradient(
          to right,
          rgb(11, 179, 221),
          rgb(82, 167, 82)
        );
        border-radius: 0.7vh;
        height: 10vh;
        width: 85vw;
        max-width: 1200px;
        margin-bottom: 1vh;
      }
      a {
        font-size: 1.5rem;
        text-decoration: none;
        text-align: center;
      }

      .button {
        border: none;
        border-radius: 0.7vh;
        // margin: 0 auto;
      }

      .button:hover {
        outline-style: none;
      }

      @keyframes focusAnimation {
        0% {
          transform: scale(1);
        }
        100% {
          transform: scale(1.2);
        }
      }
    }
  }
}
