.home {
  //Parallax image
  background-image: url(https://images.pexels.com/photos/160107/pexels-photo-160107.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  //Set a height
  height: 100vh;
  //Create parallax effect
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;

  .home--content {
    color: white;
    height: 100vh;
    display: flex;
    text-align: center;
    align-content: center;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 15vh;

    background-color: rgba(0, 0, 0, 0.5);

    .home--pic-container {
      display: inline-block;
      background-image: linear-gradient(
        to right,
        rgb(11, 179, 221),
        rgb(82, 167, 82)
      );
      border-radius: 50%;
      width: 40vw;
      height: 40vw;
      img {
        padding: 2%;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: 0.25em solid $frost;
      }
    }

    // #home--content-background {
    //   widows: 100px;
    //   height: 100px;
    //   background-color: saddlebrown;
    //   z-index: 1000;
    // }

    .home--content-text {
      width: 100vw;

      h1 {
        font-size: 2.5rem;
      }
    }

    .home--buttons-container {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-content: center;
      margin-top: 5vh;

      .button--home {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-content: center;
        align-items: center;
        text-align: center;
        background-image: linear-gradient(
          to right,
          rgb(11, 179, 221),
          rgb(82, 167, 82)
        );
        border-radius: 0.7vh;
        height: 10vh;
        width: 85vw;
        min-width: 100px;
        margin-bottom: 1vh;
        padding: 0.5%;
      }

      a {
        font-size: 1rem;
        text-decoration: none;
        width: 100%;
        height: 100%;
      }

      .button {
        border: none;
        border-radius: 0.7vh;
        // margin: 0 auto;
      }

      .button:hover {
        outline-style: none;
      }

      @keyframes focusAnimation {
        0% {
          transform: scale(1);
        }
        100% {
          transform: scale(1.2);
        }
      }
    }
  }
}
