////////////////////////////////////////////   @MEDIA RULES ////////////////////////////////////////////
@media only screen and (max-width: 567px) {
  .home {
    background-size: 100vh 100vh;
    background-attachment: scroll;
  }

  .tools {
    background-size: 200vh 200vh;
    background-attachment: scroll;
  }

  .contact {
    background-size: 100vh 100vh;
    background-attachment: scroll;
  }
}

// May need to change this some more.  Not sure what the last mediaquery does.
@media only screen and (min-width: 568px) {
  header {
    div {
      width: 5%;
      height: 10vh;
      margin-right: -10vw;
    }
    .toggler {
      left: 90%;
    }
  }
  .home {
    background-size: 100vw 100vh;
  }

  .tools {
    background-size: 200vh 200vh;
    background-attachment: scroll;
  }

  .contact {
    background-size: 200vh 200vh;
    background-attachment: scroll;
    .contact--content {
      input {
        width: 100vh;
      }
      textarea {
        width: 100vh;
      }
      button {
        width: 100vh;
      }
    }
  }
}

@media only screen and (min-width: 769px) {
  .projects {
    .projects--content {
      ul {
        li {
          max-width: 328px;
        }
      }
    }
  }

  .about {
    .about--content {
      .about--content-icons {
        display: flex;
      }
    }
  }
}
