////////////////////////////////////////////   @MEDIA RULES ////////////////////////////////////////////
@media only screen and (max-width: 567px) {
  .home {
    background-size: 100vh 100vh;
    background-attachment: scroll;
  }

  .tools {
    background-size: 200vh 200vh;
    background-attachment: scroll;
  }

  .contact {
    background-size: 100vh 100vh;
    background-attachment: scroll;
  }
}

// May need to change this some more.
@media only screen and (min-width: 568px) {
  header {
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .menu {
      width: 60%;
    }
  }
  .home {
    background-size: 100vw 100vh;
    padding-top: 10vh;
  }

  .tools {
    background-size: 200vh 200vh;
    background-attachment: scroll;
    height: 100vh;
  }

  .contact {
    background-size: 200vh 200vh;
    background-attachment: scroll;
    .contact--content {
      input {
        width: 100vh;
      }
      textarea {
        width: 100vh;
      }
      button {
        width: 100vh;
      }
    }
  }
}

@media only screen and (min-width: 769px) {
  .projects {
    .projects--content {
      ul {
        li {
          max-width: 328px;
        }
      }
    }
  }

  .about {
    .about--content {
      h1 {
        font-size: 2rem;
      }
      .about--content-icons {
        display: flex;
      }
    }
    .about--content-bio {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding-bottom: 5vh;
    }
  }

  footer {
    margin-bottom: 0;
  }
}
