.projects {
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: silver;
  background: repeating-radial-gradient(circle at 0 0, $blue, $green 500px);
  background-size: 100vw 100vh;

  .sectionDivider {
    width: 10vh;
    height: 10vh;
    border: 1px solid white;
    display: flex;
    margin: -7vh auto 7vh auto;
    font-size: 5vh;
    text-align: center;
    align-content: center;
    border-radius: 50% 50%;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;

    a {
      position: relative;
      animation: upDownAnimation infinite alternate ease-out 1s;
      i {
        color: black;
        margin-top: -3vh;
        text-decoration: none;
      }
    }
    @keyframes upDownAnimation {
      from {
        top: -2vh;
      }
      to {
        top: 0vh;
      }
    }
  }

  h1 {
    max-width: 800px;
    width: 87%;
    margin: 0 auto;
    padding: 2vh;
    font-size: 1.5rem;
    text-align: center;
    letter-spacing: 1vh;
    color: $dark-gray;
    margin: 1vh auto;
    width: 40%;
    min-width: 250px;
    border-radius: 3vh;
    padding-top: 1vh;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.15);
  }

  .projects--content {
    padding-top: 4vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;

    ul {
      display: flex;
      flex-flow: row wrap;
      text-align: center;
      align-content: center;
      justify-content: space-evenly;
      width: 100%;
      list-style-type: none;

      li {
        margin: 1vh auto;
        width: 80%;
        min-width: 250px;
        max-width: 600px;
        border-radius: 3vh;
        padding-top: 1vh;
        box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
        background-color: rgba(255, 255, 255, 0.15);

        a {
          color: black;
          text-decoration: none;

          img {
            width: 80%;
            border-radius: 3vh;
          }

          h4 {
            color: $dark-gray;
            width: 80%;
            border-radius: 3vh;
            padding-top: 1vh;
            box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
            background-color: rgba(255, 255, 255, 0.15);
          }
        }
      }
    }
  }
}
