.home {
  opacity: 1;
  width: 100vw;
  height: 100vh;
  position: absolute;
}

.tools {
  opacity: 0;
  width: 100vw;
  height: 100vh;
  position: absolute;
}

.about {
  opacity: 0;
  width: 100vw;
  height: 100vh;
  position: absolute;
}

.contact {
  opacity: 0;
  width: 100vw;
  height: 100vh;
  position: absolute;
}
