.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 3vh;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.projects .sectionDivider {
  width: 10vh;
  height: 10vh;
  border: 1px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -7vh auto 7vh auto;
  font-size: 5vh;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  border-radius: 50% 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
}

.projects .sectionDivider a {
  position: relative;
  -webkit-animation: upDownAnimation infinite alternate ease-out 1s;
          animation: upDownAnimation infinite alternate ease-out 1s;
}

.projects .sectionDivider a i {
  color: black;
  margin-top: -3vh;
  text-decoration: none;
}

@-webkit-keyframes upDownAnimation {
  from {
    top: -2vh;
  }
  to {
    top: 0vh;
  }
}

@keyframes upDownAnimation {
  from {
    top: -2vh;
  }
  to {
    top: 0vh;
  }
}

.projects h1 {
  max-width: 800px;
  width: 87%;
  margin: 0 auto;
  padding: 2vh;
  font-size: 1.5rem;
  text-align: center;
  letter-spacing: 1vh;
  -webkit-box-shadow: 0vh 2px 5px rgba(0, 0, 0, 0.274);
          box-shadow: 0vh 2px 5px rgba(0, 0, 0, 0.274);
}

.projects .projects--content {
  padding-top: 4vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.projects .projects--content ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  list-style-type: none;
}

.projects .projects--content ul li {
  padding: 5%;
  width: 100%;
  -webkit-box-shadow: 0vh 2px 5px rgba(0, 0, 0, 0.274);
          box-shadow: 0vh 2px 5px rgba(0, 0, 0, 0.274);
  margin-bottom: 5vh;
}

.projects .projects--content ul li a {
  color: black;
  text-decoration: none;
}

.projects .projects--content ul li a img {
  width: 100%;
}

.projects .projects--content ul li a h4 {
  color: black;
  width: 100%;
  height: 10%;
  font-size: 1.5rem;
  text-align: left;
  padding-left: 10%;
  letter-spacing: 1vh;
  background-color: #fff;
}
/*# sourceMappingURL=projects.css.map */