//pallete
$light_primary: #96ceb4; //Navigation
$dark_primary: #88d8b0; //Inverse CtA
$light_secondary: #ffeead;
$dark_secondary: #ffcc5c; //Call to action
$light_ternary: #ff6f69;
$white: whitesmoke;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Mali", cursive;
}

.promoBanner {
    color: $light_ternary;
    background-image: linear-gradient(
        45deg,
        $light_primary 1%,
        $dark_secondary,
        $light_secondary
    );
    width: 100%;
    height: 3vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;

    button {
        margin-left: 2px;
        font-size: 1rem;
        font-family: "Mali", cursive;
        border: none;
        background-color: rgba(255, 255, 255, 0);
        &:focus {
            outline: 0;
        }
    }

    div {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-content: center;
        width: 100%;
        opacity: 0.8;
        div {
            margin: auto;
        }
        p {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            margin: auto;
            width: 100%;
            font-size: 0.1rem;
        }
    }
}

header {
    position: sticky;
    top: 0;
    height: 6.5vh;
    background-image: linear-gradient(
        200deg,
        $light_secondary 1%,
        $light_ternary
    );

    .toggler {
        position: absolute;
        height: 6.9vh;
        width: 6.9vh;
        margin-left: 1.8%;
        z-index: 5;
        opacity: 1;
        display: none;
    }
    .toggler:checked ~ nav .hamburger div {
        // animation: fadeHamburgerOut 0.6s 0.2s ease forwards;
    }
    .toggler:checked ~ nav .hamburger div::before {
        // animation: fadeHamburgerOut 0.3s 0.1s ease forwards;
    }
    .toggler:checked ~ nav .hamburger div::after {
        // animation: fadeHamburgerOut 0.2s 0s ease forwards;
    }

    // @keyframes fadeHamburgerOut {
    //     0% {
    //         transform: scale(1);
    //     }
    //     50% {
    //         transform: scale(1.05);
    //     }
    //     100% {
    //         transform: scale(0);
    //     }
    // }

    nav {
        .hamburger {
            height: 6.5vh;
            width: 6.5vh;
            margin-left: 2%;
            padding-top: 1vh;

            div {
                content: "";
                width: 100%;
                height: 0.6vh;
                background-color: $white;
                position: relative;
                border-radius: 5px;
                margin-bottom: 1vh;

                // &:before {
                //     display: inline-block;
                //     top: 2vh;
                //     content: "";
                //     width: inherit;
                //     height: inherit;
                //     background: inherit;
                //     position: absolute;
                //     border-radius: inherit;
                // }
                // &:after {
                //     display: inline-block;
                //     top: 4vh;
                //     content: "";
                //     width: inherit;
                //     height: inherit;
                //     background: inherit;
                //     position: absolute;
                //     border-radius: inherit;
                // }
            }
        }
    }
}

main {
    width: 100%;
    height: 200vh;
}
