////////////////////////////////////////////   @MEDIA RULES ////////////////////////////////////////////

@media only screen and (min-width: 568px) and (max-width: 767px) {
  header {
    #menu--projectsTab {
      background-image: url("./images/projectsMenu.jpeg");
      background-position: center;
      background-size: cover;
      background-attachment: fixed;
    }
    #menu--toolsTab {
      background-image: url("./images/toolsMenu.jpeg");
      background-position: center;
      background-size: cover;
      background-attachment: fixed;
    }
    #menu--aboutTab {
      background-image: url("./images/aboutMenu.jpeg");
      background-position: 60% -40%;
      background-attachment: fixed;
      background-size: cover;
    }
    #menu--contactTab {
      background-image: url("./images/contactMenu.jpeg");
      background-position: 60% 20%;
      background-attachment: fixed;
    }
    #menu--githubTab {
      background-image: url("./images/githubMenu.png");
      background-position: 0% 0%;
      background-attachment: fixed;
    }
    div {
      width: 5%;
      height: 10vh;
      margin-right: -10vw;
    }
    .toggler {
      left: 90%;
    }
  }
  .contact {
    .contact--content {
      input {
        width: 100vh;
      }
      textarea {
        width: 100vh;
      }
      button {
        width: 100vh;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  header {
    width: 100%;
    height: 10vh;
    display: flex;
    z-index: 5;
    position: fixed;
    flex-flow: row nowrap;
    border-bottom: 1px solid rgba(128, 128, 128, 0.39);
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.938);

    .toggler {
      display: none;
    }

    div {
      width: 15%;
      height: 10vh;

      .hamburger {
        display: none;
      }
    }

    .logo {
      width: 30%;
      height: 100%;

      a {
        color: black;
        display: flex;
        font-size: 1.5rem;
        padding-left: 2%;
        align-content: center;
        flex-direction: column;
        justify-content: center;
        text-decoration: none;
      }
    }

    .menu {
      left: 30vw;
      order: 2;
      width: 70%;
      height: 10vh;
      position: absolute;
      font-size: 1.5rem;
      transition: all 0.1s ease;
      text-align: center;
      transition: all 0.4s ease;
      line-height: 10vh;
      background-color: rgba(255, 255, 255, 0);

      ul {
        display: flex;
        overflow: hidden;
        flex-flow: row nowrap;
        font-weight: bolder;
        padding-right: 2%;
        justify-content: flex-end;
        list-style-type: none;

        li {
          float: left;
          padding-left: 2vw;
          a {
            color: black;
            display: block;
            position: relative;
            text-decoration: none;
            //psuedo elements below are for the underline animations
            &::before {
              left: 0;
              width: 100%;
              bottom: 2vh;
              height: 2px;
              content: "";
              position: absolute;
              transform: scaleX(0);
              transition: all 0.3s ease-in-out;
              background-color: rgb(0, 0, 0);
            }
            &:hover:before {
              transform: scaleX(1);
            }
          }
        }
      }
    }

    .toggler {
      left: 83%;
      width: 10vh;
      height: 10vh;
      z-index: 2;
      opacity: 0;
      position: absolute;
    }

    .toggler:checked ~ div div .menu {
      left: 0;
    }

    .toggler:checked ~ div .hamburger .hamburger--bar {
      top: 4vh;
      transform: rotate(-135deg);
    }

    .toggler:checked ~ div .hamburger .hamburger--bar::after {
      top: 0vh;
      left: 0vh;
      opacity: 0;
      transform: rotate(-5deg);
    }
    .toggler:checked ~ div .hamburger .hamburger--bar::before {
      top: 0vh;
      left: 0vh;
      transform: rotate(90deg);
    }
  }

  .projects {
    .projects--content {
      ul {
        li {
          max-width: 328px;
        }
      }
    }
  }

  .about {
    .about--content {
      .about--content-icons {
        display: flex;
      }
    }
  }
}
