@keyframes dropFade {
  0% {
    top: -10vh;
    opacity: 0;
  }
  100% {
    top: 0vh;
    opacity: 1;
  }
}
@keyframes htmlAnimation {
  0% {
    color: white;
  }
  100% {
    color: tomato;
  }
}
@keyframes cssAnimation {
  0% {
    color: white;
  }
  100% {
    color: dodgerblue;
  }
}
@keyframes jsAnimation {
  0% {
    color: white;
  }
  100% {
    color: orange;
  }
}
